@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-img{
    animation-name: pop;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out
}
@keyframes pop{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(0);
    }
}

.hoveronclass{
    border:2px solid violet;
}